body{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    
   }
body>div>div{
    width: 100%;
}


.content{
    display: flex;
    flex-direction: column;
    height: max-content;

}
.welcome>div{
display: flex;
flex-direction: column;
overflow: auto;
align-items: flex-end;
}
.welcome{
    text-align: center;
 
    padding-top: 250px;
    padding-bottom: 20px;
    background: url('img/homepage.png');
    justify-content: baseline;
    height: 635px;
    
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.rent{
    padding-top: 100px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    height: 300px;
}
.sale {
    padding-top: 10px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    height: 300px;
}
.results{
    margin: 0 auto;
    margin-top: 50px;
}
.welcome>h1{
font-weight: 700;
font-family: Roboto;
text-align: center;
color: #fff;
background-color: rgba(69, 70, 80, 0.4);

top: 200px;
}
.welcome>h2{
    font-weight: 700;
    font-family: Roboto;
    text-align: center;
    top: 200px;

background-color: rgba(69, 70, 80, 0.4);
    color: #fff;
    }
.container{
    
}
@media screen and (max-width: 650px) {
    .welcome {
      padding-top: 0px;
    }
    .rent{
        padding-top: 0px;
        overflow: auto;
    }
    .sale{
        padding-top: 0px;
        overflow: auto;
    }
  }
.form-edit{
    display: inline-block;
    width: calc(50%-1px);
}
.form-inline{
    margin: 0 !important;
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    align-self: center;
    justify-content:space-between;
}
.latest-h>h3{
    padding: 10px;
    color:#fff;
    width: fit-content;
    align-self: center;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* Latest property styling */

.latest{
display: flex;
flex-direction: column;
padding-top: 10px;
}
.bgn-grey{

}
.latest-h{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container{
    padding: 0 10px;
}

.con-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.con-container>div{
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* footer style */
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #697080;
    bottom: -100px;

}
.footer>div{
    margin: 10px;
    padding: 10px;
}